# Python virtual environment
.venv

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE files
.idea/
.vscode

# Livrable
dist

# Old adn backed up files
*.old
*.bak

# Zipped files
*.muxzip
*.muxthm
*.zip